* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
}
section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
section .table {
  width: 20%;
}
.table form {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.table form .link {
  text-decoration: none;
  display: block;
  padding-left: 33%;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f2f5;
  color: #286cd9;
}
.table form input[type="text"], 
.table form input[type="password"] {
  width:100%;
  padding: 8px 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 2px solid #dddfe2;
  direction: rtl;
  font-weight: bold;
}
.table form input:focus {
  outline: none;
  border: 2px solid #3578e5;
  font-weight: normal;
}
.table form a:nth-child(4) {
  width:100%;
  margin-top: 10px;
  border-radius: 3px;
  display: inline-block;
}
.table form a:nth-child(3) {
  margin-top: 12px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  background-color: #3578e5;
  display: inline-block;
  color: white;
}
.table form a:nth-child(5) {
  margin-top: 13px;
  background-color: #42b72a;
  margin-left: 33%;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  display: inline-block;
}
.table form a:nth-child(5):hover, 
.table form a:nth-child(3):hover {
  box-shadow: 5px 5px 18px black;
  transform: scale(1.1);
}
section p {
  font-size: 13px;
  margin: 20px 0 20px 15px;
}
section .title {
  direction: rtl;
  width: 30%;
}
section h1 {
  font-size: 50px;
  color: #2579ff;
  font-weight: bolder;
  margin-right: 28%;
}
section .title p {
  font-size: 22px;
  width: 75%;
  font-weight: 600px;
  margin-right: 28%;
  margin-top: 0;
} 
.sign-up-form form {
  border: 2px solid #dddfe2;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  position: relative;
}
section form .fa-xmark {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
.sign-up-form form h1 {
  color: black;
  font-size: 30px;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-up-form form h6:nth-child(3) {
  font-size: 16px;
  color: #6e7072;
  border-bottom: 2px solid #f0f2f5;
  padding: 7px 0 13px;
  position: relative;
}
.sign-up-form form h6:nth-child(7)::after, 
.sign-up-form form h6:nth-child(11)::after {
  content: "?";
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #606770;
  border-radius: 50%;
  width: 12px;
  height: 14px;
}
.sign-up-form form h6:nth-child(7)::after{
  bottom: 48.5%;
  left: 14%;
}
.sign-up-form form h6:nth-child(11)::after{
  bottom: 36.7%;
  left: 13%;
}
.sign-up-form form input[type="email"],
.sign-up-form form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 16px;
  background-color: #f5f6f7;
  outline: none;
  border: 1px solid #dddfe2;
  border-radius: 4px;
}
.sign-up-form form div {
  margin-top: 15px;
}
.sign-up-form form input[type="text"] {
  padding: 12px 16px;
  margin-bottom: 8px;
  background-color: #f5f6f7;
  outline: none;
  border: 1px solid #dddfe2;
  border-radius: 4px;
} 
.sign-up-form form input[type="text"]:nth-child(1) {
  margin-right: 8px;
}
.sign-up-form form h6:nth-child(7), 
.sign-up-form form h6:nth-child(11) {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 3px; 
}
.sign-up-form form #day, 
.sign-up-form form #month,
.sign-up-form form #year {
  border-radius: 3px;
  padding: 8px 30px 8px 5px;
  margin-right: 10px;
  width: 30%;
  margin-bottom: 10px;
  outline: none;
}
.sign-up-form form span  {
  border: 2px solid #dddfe2;
  padding: 8px 12px 8px 5px;
  margin-right: 11px;
}
.sign-up-form form span input[type=radio] {
  margin-left: 9.9%;
}
.sign-up-form form p {
  margin-left: 2px;
  color: #777;
  font-size: 11px;
}
.sign-up-form form p a {
  text-decoration: none;
  color: #385898;
}
.sign-up-form form input[type="submit"] {
  color: white;
  background-color: #00a400;
  padding: 10px 46px;
  border: none;
  border-radius: 4px;
  margin-left: 30%;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.sign-up-form form input[type="submit"]:hover {
  box-shadow: 5px 5px 18px black;
  transform: scale(1.1);
}

/* facebook-site start */
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height:56px;
  width:100%;
  box-shadow: 0px 1px 3px #ccc;
  padding: 8px 13px 0px 13px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-left {
  display: flex;
}

.nav-left .fa-facebook{
  color: #1877f2;
  font-size: 40px;
}

.search{
  position: relative;
}

.search .fa-search{
  color: #606770;
  position: absolute;
  font-size: 15px;
  left: 15px;
  top: 12px;
}

.search input  {
  border: none;
  margin-left: 5px;
  background-color: #f5f0f0;
  border-radius: 50px;
  padding:7px 16px 9px 36px;
  color: #606770;
  font-size: 15px;
  height: 40px;
}

.nav-left input:focus {
  outline: none;
}

/* nav middle */

.nav-middle{
  display: flex;
  align-items: flex-end;
}

.nav-middle a {
  text-decoration: none;
  color: #65676b;
  font-size: 25px;
  padding:10px 20px;
  margin:0px 10px;
  border-radius: 8px;
}

.nav-middle a:hover {
  background-color: rgba(0, 0, 0,0.05);

}


.nav-middle .active{
  color: #1877f2;
  border-radius: 0px;
  border-bottom: 2px solid #1877f2;
}
.nav-middle .active:hover {
  background-color: white;

}



.nav-right{
  display: flex;
  align-items: center;
  padding-bottom: 8px;

}

.nav-right .profile{
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 2px 10px 2px 2px;
  border-radius: 8px;
}


.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-right .profile p{
  color:#050505 ; 
  font-size: 15px;
  font-weight: bold;
  margin-left: 3px;
}


.nav-right  a {
  text-decoration: none;
  color: #050505;
  background-color: #e4e6eb;
  border-radius: 50%;
  font-size:18px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}


.sec_All {
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;

}

.left_side {
  background-color: #f0f2f5;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 56px;
  width: 350px;
}


.left_side:hover {
  overflow: scroll;

}

.left_side li {
  display: flex;
  align-items: center;
  padding:10px 10px 10px;
  border-radius: 8px;
}

.left_side img{
  width:25px;
  height: 35px;
}

.left_side p{
  color:#050505; 
  font-size: 15px;
  font-weight: bold;
  margin-left: 3px;
}

.userImg{
  border-radius: 50%;
  
}

.right_side{
  background-color:#f0f2f5;
  height: 100vh;
  overflow-y: hidden;
  position: sticky;
  right: 0;
  top: 56px;
  padding:20px;
  width: 300px;
}
.right_side:hover {
  overflow-y: scroll;

}

.sponsored p{
  color: #65676b;
  font-size: 20px;
  margin-top: 10px;

}

.sponsored div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #050505;
  border-radius: 8px;
  padding: 5px 50px 5px 5px;
}

.sponsored img{
  border-radius: 8px;
  width: 120px;
  height: 70px;
}
.sponsored h3{
  margin-left: 10px;
  font-size: 15px;
}


.contact_icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contacts p{
  color: #65676b;
  font-size: 16px;
  margin-top: 8px;
}

.contact_icons i{
  color: #65676b;
  margin: 0px 5px;
}


.contacts li{
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}


.contacts img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.contacts li p{
  margin-left: 7px;
}

.contacts li:hover{
  background-color: rgba(0, 0, 0,0.05);
}

.middle {
  padding: 0 70px;
}


.container
{
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
}

.firstleft
{
  width: 100%;
  height: 200px;
  background-color: white;
  overflow:hidden;
  margin-left: 7px;
  /* width:90%; */
  /* height:250px; */
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ddd;
  position:relative;

}

.firstleft .icons
{
  font-size: 20px;
  color:white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1877F2;
  padding:8px;
  border-radius: 50%;
  object-fit: cover;
  border:solid 4px  white;
}
.firstleft p
{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color:black;
}
.firstleft .firstimg
{
  width:100%;
  height:140px;
  border-radius: 10px;
  position: relative;
  /* transition:all ease-in-out 1s; */

}



.second2 
{
  position:relative;
}
.second2 .small
{
  position:absolute;
  top: 11px;
  left: 16px;
  width:40px;
  height:40px;
  border-radius: 50%;
  z-index: 2;
  border: solid 4px #1877F2;
}
.second2 .second
{
  height: 100%;
}


.second2 p
{
  color:white;
  position: absolute;
  bottom:10px;
  left:8px;
} 

.mind
{
  background:white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ddd;
  margin: 20px 0px;
  padding-top: 5px;
}

.mind2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.mind .inmind
{
  border-radius: 50%;
  width:35px;
  height:35px;
  margin-right: 10px;
}

.mind hr
{
  margin-top: 15px;
  margin-left: 28px;
  width:93%;
  background-color:rgb(190, 189, 189);
}

.mind input {
  outline: none;
  width: 88%;
  border: none;
  border-radius: 50px;
  background:#f0f2f5;
  padding:10px;

}
.mind input:hover
{
  background-color: rgba(0, 0, 0,0.1);
}

.under {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}


.fa-video{
  color: #f3425f;
}
.fa-images{
  color: #45bd62;
}
.fa-laugh{
  color: #f7b928;
}
.under i
{
  font-size:25px;
}

.under .firstu
{
  display:flex;
  padding: 5px;
}

.under .firstu:hover
{
  background-color: rgba(0, 0, 0,0.05);
  border-radius: 10px;
}

.under .firstu .caption
{
  margin:5px 0 0 10px;
  color:rgb(94 94 94);
  text-decoration: none;
}



.Fpost{
  background-color: white;
  padding:20px 20px 5px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ddd;
  margin-top: 20px;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDetail img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.postDetail  p{
  color: #898e94;
  font-size: 12px;
  margin-top: 5px;
}
.thepost p{
  margin: 20px 0px;
}

.thepost img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.reacts{
  padding: 20px 50px 0;
  border-top: 1px solid #898e94;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #898e94;
  
}

.reacts i{
  color: #898e94;
  margin-right: 5px;
}

.reacts div{
  display: flex;
  align-items: center;
}




@media  only screen and (max-width:1080px){

  .middle{
      padding: 0px 50px;
  }
  .left_side{
      display: none;
  }
  .search input{
      width: 50px;
  }
  
}


@media  only screen and (max-width:882px){

  .middle{
      padding: 0px 3px;
  }
  .right_side{
      display: none;
  }
  .nav-middle{
      display: none;
  }
}
/* facebook-site end */